:root {
  background: linear-gradient(to bottom, #d7bbe3, #f7eadf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #d7bbe3, #f7eadf);

  font-weight: 600;
  font-weight: 18px;
  color: #a5a5a5;
}

.container {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  align-items: center;
  border: 1px solid red;
}

.module {
  width: 360px;
  height: 36px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fefcfe;
  transition: all 0.2s linear;
}

.active {
  height: 300px;
}

h1 {
  font-size: 24px;
}
